@font-face {
  font-family: "Geo";
  src: url("GeosansLight.ttf");
}

body, html{
  margin: 0;
  padding: 0;
  font-family: "Geo";
  font-size: 1.3em;
}

/*Réglage du header */

header {
  padding-top: 2%;
  margin-top:-2%;
  width: 100%;
  background-color: rgb(0, 132, 173);
  box-shadow: 0px 2px 2px grey;
}

/* Centrage du texte */
header h1 {
  text-align: center;
  text-shadow: -2px 1px white;
}

h1 {
  padding-left: 5%;
}

/* Menu */

nav {
  width: 100%;
  background-color: rgb(64, 157, 255);
}

nav a{
  text-decoration: none;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
}

nav a:hover {
  background-color: rgb(141, 135, 255);
}


/* Réglage du contenu de la page */
#content {
  text-align: center;
  margin-left: -3%;
  margin-bottom: 3%;
}

.gallery{
  margin: 3% 0 0 3%;
  width: 20%;
  min-width: 6em;
  background-color: rgb(191, 191, 191);
  box-shadow: 1px 1px 1px grey;
  display: inline-block;
}

.gallery img{
  width: 100%;
}

.gallery p {
  margin-top: 0;
  margin-bottom: 1%;
  text-align: center;
  margin-bottom: 1%;
}

/************Infos en pied de page*******/

#info img {
  width: 3em;
}

#info {
  margin-bottom: -3%;
  margin-top: 3%;
}
/***************************About***********************************/
#desc {
  margin: 5%;
  max-width: 100%;
}

#desc img {
  width: 10%;
  border-radius: 100%;
  display: inline-block;
  box-shadow: 1px 1px 1px 1px grey;
}

/************************Contact****************************/


#contact {
  text-align: left;
  margin-top: 2%;
  margin-left: 25%;
}

.contact_line {
  text-align: left;
  left: 0;
  margin-top: 5%;

}

.contact_line img{
  float: left;

  height: 1.2em;
}

.contact_line a{
  text-decoration: none;
}

.contact_line p{
  color: rgb(0, 131, 154);
  margin-left: 5%;
  font-weight: bold;
  font-size: 0.8em;
  height: 1.2em;
}
